services:
  - type: web
    name: greendolio-web
    env: docker
    dockerfilePath: ./apps/web/Dockerfile
    dockerContext: ../..
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_DISABLE_LIGHTNINGCSS
        value: "1"
      - key: NEXT_PUBLIC_API_BASE_URL
        sync: false
      - key: FIREBASE_API_KEY
        sync: false
      - key: FIREBASE_AUTH_DOMAIN
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_STORAGE_BUCKET
        sync: false
      - key: FIREBASE_MESSAGING_SENDER_ID
        sync: false
      - key: FIREBASE_APP_ID
        sync: false
    healthCheckPath: /api/health
    autoDeploy: true

